<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <test name="Admin Tests">
        <classes>
            <class name="com.wisesoftlab.runners.AdminTestRunner" />
        </classes>
    </test>
    <test name="Portal Tests">
        <classes>
            <class name="com.wisesoftlab.runners.PortalTestRunner" />
        </classes>
    </test>
</suite>
