admin_url=https://wisesoftlabmailservise.online:83/
#portal_url=https://wisesoftlabportal.online/
admin_username=lakshithapramodya@gmail.com
admin_password=12345678
#portal_username=portaluser@example.com
#portal_password=password123